on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set Up Trufflehog
        run: docker pull trufflesecurity/trufflehog:latest

      - name: Run Trufflehog Scan
        id: trufflehog
        run: |
          output=$(docker run --rm -v "$PWD":/pwd trufflesecurity/trufflehog:latest github --repo https://github.com/Wesbonf/appsec --exclude-paths=/pwd/trufflehog-exclude-path.txt)
          echo "trufflehog_output<<EOF" >> "$GITHUB_OUTPUT"
          echo "$output" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"

      - name: Create issues
        env:
          trufflehog_output: ${{ steps.trufflehog.outputs.trufflehog_output }}
        run: |
          if [[ "$trufflehog_output" == *"Found unverified result"* || "$trufflehog_output" == *"Found verified result"* ]]; then
            curl -L \
              -X POST \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.TOKEN_ACCESS}}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              https://api.github.com/repos/Wesbonf/appsec/issues \
              -d '{"title":"TRuffleHug Found a secret","body":"I'\''m having a problem with this.","labels":["bug"]}'
            exit 1
          fi
